<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context
                    https://www.springframework.org/schema/context/spring-context.xsd
                    http://www.springframework.org/schema/util
                    https://www.springframework.org/schema/util/spring-util.xsd
                    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.2.xsd">


    <import resource="logger.xml"/>


    <util:properties id="clientProps" location="classpath:client.properties"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value = "true"/>
        <property name="systemPropertiesMode">
            <util:constant static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        </property>
    </bean>


    <bean id="client" class="use_config.Client" >
        <constructor-arg value="${id}" />
        <constructor-arg value="${fullName}"/>
        <property name="greeting" value="${greeting}"/>
    </bean>

    <bean id="client2" class="use_config.Client"
          c:id ="${id}"
          c:fullName ="${fullName}"
          p:greeting ="${greeting}"/>

    <bean id="client3" class="use_config.Client" autowire="byName">
        <constructor-arg value="${id}" />
        <constructor-arg value="${fullName}"/>
    </bean>


    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger" />
        <entry key="ERROR" value-ref="combinedEventLogger" />
    </util:map>

    <bean id="app" class="use_config.App" >
        <constructor-arg ref="client" />
        <constructor-arg ref="consoleEventLogger" />
        <constructor-arg ref="loggerMap"/>
    </bean>


    <bean id="monitor" class="use_config.Monitor"/>
    <bean id="awared" class="use_config.AwareBean" init-method="init"/>

</beans>